{% extends "layouts/base.html" %}

{% block title %}- Tra cứu sổ{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="static/assets/css/create-passbook.css">
{% endblock stylesheets %}

{% block content %}

<div class="container-fluid">
    <div class="row" style="width:100%">
<!--    Thông tin khách hàng    -->
        <div class="col">
            <div class="container" style="max-width: 750px; min-width: 400px">
                <div class="row">
                    <h1 class="display-4" style="font-size: 1.8rem;">Thông tin khách hàng</h1>
                </div>
                <div class="dropdown-divider"></div>
                <form method="post" action="">
                    <div class="form-group">
                        <label>Số chứng minh nhân dân</label>
                        <input type="number" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-9">
                                <label>Họ tên</label>
                                <input type="text" class="form-control" value="" name="name">
                            </div>
                            <div class="col-3">
                                <label>Giới tính</label>
                                <select class="form-control" name="gender">
                                    <!--                <option value="{{ current_user.gender }}" selected></option>-->
                                    <option value=""></option>
                                    <option value="MALE">Nam</option>
                                    <option value="FEMALE">Nữ</option>
                                    <option value="OTHER">Khác</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-7">
                                <label>Ngày sinh</label>
                                <input type="date" class="form-control" value=""
                                       name="dateOfBirth">
                            </div>
                            <div class="col-5">
                                <label>Số điện thoại</label>
                                <input type="number" class="form-control" value="" name="phone">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <textarea class="form-control" rows="2" name="address"></textarea>
                    </div>
                    {% if err_msg_info %}
                    <div class="alert alert-danger" role="alert">
                        {{ err_msg_info }}
                    </div>
                    {% endif %}
                    {% if msg_info %}
                    <div class="alert alert-success" role="alert">
                        {{ msg_info }}
                    </div>
                    {% endif %}
                    <button type="submit" class="btn btn-success" name="save" value="saveInformation">Lưu thông tin
                    </button>
                    <a class="btn btn-secondary" onclick="goBack()" role="button">Hủy bỏ</a>
                    <!--        <button type="submit" class="btn btn-secondary mb-2" >Hủy bỏ</button>-->
                </form>
            </div>
        </div>
<!--    Tra cứu   -->
        <div class="col">
            <div class="container" style="max-width: 750px; min-width: 350px">
                <h1>Tra cứu</h1>
            </div>
        </div>

<!--    Thông tin sổ tiết kiệm    -->
        <div class="col" style="display: none">
            <div class="container" style="max-width: 750px; min-width: 350px">
                <div class="row">
                    <h1 class="display-4" style="font-size: 1.8rem;">Thông tin sổ tiết kiệm</h1>
                </div>
                <div class="dropdown-divider"></div>
                <form method="post" action="">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label>Loại sổ tiết kiệm</label>
                                <input type="text" class="form-control" value="">
                            </div>
                            <div class="col-6">
                                <label>Khách hàng</label>
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Số tiền gửi</label>
                        <input type="number" class="form-control" value="" name="phone">
                    </div>
                    <div class="form-group">
                        <label>Ngày mở sổ</label>
                        <input type="text" class="form-control" id="openDate" value="" readonly>
                    </div>
                    {% if err_msg_info %}
                    <div class="alert alert-danger" role="alert">
                        {{ err_msg_info }}
                    </div>
                    {% endif %}
                    {% if msg_info %}
                    <div class="alert alert-success" role="alert">
                        {{ msg_info }}
                    </div>
                    {% endif %}
                    <button type="submit" class="btn btn-success" name="save" value="saveInformation">Lưu thông tin
                    </button>
                    <a class="btn btn-secondary" onclick="goBack()" role="button">Hủy bỏ</a>
                    <!--        <button type="submit" class="btn btn-secondary mb-2" >Hủy bỏ</button>-->
                </form>
            </div>
        </div>

<!--     Hoàn tất   -->
        <div class="col" style="display: none">
            <div class="container" style="max-width: 750px; min-width: 200px">
                <div class="row">
                    <h1 class="display-4" style="font-size: 1.8rem;">Hoàn tất</h1>
                </div>
                <div class="dropdown-divider"></div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script type="text/javascript">
      function goBack() {
         if("{{ current_user.employee_role }}" == "EmployeeRole.ADMIN"){
            window.location.href = "/admin";
         }else{
            window.location.href = "/";
         }
      }
</script>

{% endblock javascripts %}


