{% extends "admin/master.html" %}

{% block body %}
{% if current_user.is_authenticated %}
<h1>WELCOME TO ADMIN PAGE</h1>
<!--{{current_user.name}}-->

<div class="btn-group">
    <button type="button" class="btn btn-secondary">
        {{ current_user.name }}
    </button>
    <a role="button" class="btn btn-success" href="{{ url_for('setting_employee') }}"><i class="fas fa-user-cog"></i>
        Tùy chỉnh
    </a>
    <a role="button" class="btn btn-danger" href="{{ url_for('logout_employee') }}"><i class="fas fa-sign-out-alt"></i>
        Đăng xuất
    </a>
</div>

{% else %}
{% include "accounts/login.html" %}
{% endif %}
{% endblock %}