{% extends "layouts/base.html" %}

{% block title %}- Đăng nhập{% endblock %}

{% block content %}
<div class="jumbotron text-center" >
    <h1 class="display-3" style="color: green">NGÂN HÀNG</h1>
    <p class="lead" style="color: green">Quản lý sổ tiết kiệm</p>
</div>
<div class="container" style="text-align: -webkit-center;">
    <form class="jumbotron text-center" action="{{ url_for('login_employee')}}" style="width:350px" method="post">
        <h2 class="display-4" style="font-size: 2.5rem;">Đăng nhập</h2>
        <div class="form-group">
            <input class="form-control" name="username" placeholder="Tên đăng nhập" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Mật khẩu" required>
        </div>
        {% if msg %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
        </div>
        {% endif %}
        <!--            <div class="checkbox">-->
        <!--                <label><input type="checkbox" name="remember">Nhớ mật khẩu</label>-->
        <!--            </div>-->
        <input type="submit" name="btnSignIn" class="btn btn-success" value="Đăng nhập">
    </form>
</div>
{% endblock content %}