<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<footer>-->
<!--<div class="fixed-bottom">-->
<!--  &lt;!&ndash; Copyright &ndash;&gt;-->
<!--  <div class="footer-copyright text-center text-black-50 py-3" style="background-color: #28b62c;" >-->
<!--    © <script>document.write(new Date().getFullYear());</script> Copyright-->
<!--    <a class="dark-grey-text" href="/"></a>-->
<!--  </div>-->
<!--  &lt;!&ndash; Copyright &ndash;&gt;-->
<!--</div>-->
<!--</footer>-->
<!--&lt;!&ndash; Footer &ndash;&gt;-->